#logo {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px; 
}

body {
    background: linear-gradient(#27384A, #1B2C3C);
    height: 100vh;
    margin: 0;
    overflow: hidden;
      
}

.container1 {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-right: 1200px;
    padding-bottom: 500px;
    background: linear-gradient(#27384A, #1B2C3C, #121E29);
}

#mailh2 {
    color: #e6e6fa;
    margin-top: 300px;
    margin-left: 50px;
    font-family: serif;
    border-bottom: 1px solid #d6d9db;
    margin-right: 450px;
    
}

#gsmh2 {
    color: #e6e6fa;
    margin-left: 50px;
    font-family: serif;
    margin-top: 50px;
    border-bottom: 1px solid #d6d9db;
    margin-right: 450px;
}

#mail {
    color: #e6e6fa;
    margin-left: 50px;
    font-family: cursive;
}

#gsm {
    color: #e6e6fa;
    margin-left: 50px;
    font-family: cursive;
}

p {
    color: #e6e6fa;
    margin-left: 50px;
    font-family: cursive;
    font-style: italic;
    margin-top: 80px;
}


/* début des logo liens*/
#github {
    width: 70px;
    height: 70px; 
    margin-left: 50px;
    border-radius: 10px;
    margin-top: 30px;
}
    

#linkedin {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 40px;
}

#facebook {
    width: 70px;
    height: 70px; 
    margin-left: 28px;
    border-radius: 10px;
    margin-top: 30px;
}
.containergridlogo {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 1px;
    background: #121E29;
    margin-right: 1200px;
    padding-bottom: 250px;
}
/* fin des logo liens*/

#imgaccueil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 800px;
    height: auto;
    opacity: 80%;
    border: 10px solid rgb(85, 103, 121);
}
/*début text présensation*/
.containergridtext {
    display: grid;
    grid-template-columns: 400px;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    
}

h1 {
    color: #e6e6fa;
    font-family: serif;
    font-size: 50px;
    text-align: center;
    box-shadow: inset 2.70px 4.68px 7.38px -0.92px rgba(0, 0, 0, 0.15),
    inset -4.05px -7.01px 7.38px -0.92px rgba(0, 0, 0, 0.3),
    8.10px 14.03px 5.53px -2.77px rgba(0, 0, 0, 0.6);
}

#gridtexth2 {
    color: #e6e6fa;
    font-family: serif;
    font-size: 25px;
    text-align: center;
    margin-top: -15px;
}

#pgridtext {
    color: #e6e6fa;
    font-family: cursive;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;

}
/*fin text présensation*/

.containergridboutons {
    display: grid;
    grid-template-columns: 100px 100px;
    position: absolute;
    top: 70%;
    right: 190px;
    transform: translateY(-50%);
}

.gridbutton {
    background-color: rgb(47, 75, 94);
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 20px;
    box-shadow: inset 2.70px 4.68px 7.38px -0.92px rgba(0, 0, 0, 0.15),
    inset -4.05px -7.01px 7.38px -0.92px rgba(0, 0, 0, 0.3),
    8.10px 14.03px 5.53px -2.77px rgba(0, 0, 0, 0.6);
  
}

.gridbutton:hover {
    background-color: white; /* Fond blanc au survol */
    color: #3498db; /* Changement de couleur du texte */
}
